# - type: git
# url: https://github.com/kurtburak/argocd.git

redis-ha:
  enabled: true

controller:
  enableStatefulSet: true

server:
  autoscaling:
    enabled: true
    minReplicas: 2

repoServer:
  autoscaling:
    enabled: true
    minReplicas: 2

server:
  configEnabled: true
  config:
    repositories: |
      - type: git
        url: https://github.com/fractiunate/terraform-kaniko-k8s-service
      - name: argo-helm
        type: helm
        url: https://argoproj.github.io/argo-helm
      - url: git@github.com:fractiunate/private-project.git
        name: github-id_ed25519
        sshPrivateKeySecret:
          name: github-repo-secret
          key: ssh-privatekey
      - url: git@github.com:fractiunate/private-project.git
        name: gitlab-id_ed25519
        sshPrivateKeySecret:
          name: gitlab-repo-secret
          key: ssh-privatekey
configs:
  knownHosts:
    data:
      ssh_known_hosts: |-
        |1|I7sWUOhC/cavJZVcmr8RnkaIxaA=|h4pf70Uf0GUyYRVKyO+uX9CwSwA= ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBEmKSENjQEezOmxkZMy7opKgwFB9nkt5YRrYMjNuG5N87uRgg6CLrbo5wAdT/y6v0mKV0U2w0WZ2YB/++Tpockg=
        |1|QrwWD43rKswO1gcOUJOPA8MzWDg=|xeuOJHdKXyJB9u0TW3jIkSFVJQM= ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBEmKSENjQEezOmxkZMy7opKgwFB9nkt5YRrYMjNuG5N87uRgg6CLrbo5wAdT/y6v0mKV0U2w0WZ2YB/++Tpockg=
        |1|TUFASjkt6KqQNwKYvD0yKP7Kl8w=|zs6wXWJK5ThS0O4Z9LZkAOSHVxQ= ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBFSMqzJeV9rUzU4kWitGjeR4PWSa29SPqJ1fVkhtj3Hw9xjLVXVYrU9QlYWrOLXBpQ6KWjbjTDTdDkoohFzgbEY=
        |1|Ft0Uyx7yOTdzEnotBJzJlQc000o=|Bp7GVXbxQVKqLesr+yoYmjTogzA= ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBFSMqzJeV9rUzU4kWitGjeR4PWSa29SPqJ1fVkhtj3Hw9xjLVXVYrU9QlYWrOLXBpQ6KWjbjTDTdDkoohFzgbEY=
        |1|S6saI0njbWeZHd8KRAzyheRImZY=|Lte3jwAg65edypG9gmpzdxQookk= ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBEmKSENjQEezOmxkZMy7opKgwFB9nkt5YRrYMjNuG5N87uRgg6CLrbo5wAdT/y6v0mKV0U2w0WZ2YB/++Tpockg=
        |1|WICX3E2atVO53cBwGc7UIj+LAgo=|eB4ZFNyB4r+YL26CnsLO7qFXx9c= ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBEmKSENjQEezOmxkZMy7opKgwFB9nkt5YRrYMjNuG5N87uRgg6CLrbo5wAdT/y6v0mKV0U2w0WZ2YB/++Tpockg=
        |1|BBWzvbKQdBDDBdxbxnJjxAkU35o=|AthjzRoXl+8LKa/TkjP67Anp2Fk= ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBEmKSENjQEezOmxkZMy7opKgwFB9nkt5YRrYMjNuG5N87uRgg6CLrbo5wAdT/y6v0mKV0U2w0WZ2YB/++Tpockg=